<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-root.css">
    <link rel="stylesheet" href="/css/styles-header-footer.css">
    <link rel="stylesheet" href="/css/styles-login-register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Edit Profile</title>
</head>

<body>
    <header>
        <%- include('header') %>
    </header>

    <main class="register-main">
        <div class="reg-frame">
            <div class="reg-frame-frame">
                
                <form action="/users/update_profile" class="reg-form" method="post" enctype="multipart/form-data">
                    <% if (locals.errorExpress || locals.errors) { 
                        const allErrors = [...errorExpress, ...errors];
                        allErrors.forEach(error => { %>
                            <p style="color: var(--errorNivel2);"> <%= error.msg %> </p>                            
                        <% }); 
                    } %> 

                    <div class="reg-form-field">
                        <label class="title-register" for="f_lastname">Apellido(s)</label>
                        <input class="subcontrol-register-form" type="text" id="f_lastname" name="lastname" placeholder="Apellido(s)" value="<%=user.lastname%>">
                    </div>
                    <div class="reg-form-field">
                        <label class="title-register" for="f_firstname">Nombre(s)</label>
                        <input class="subcontrol-register-form" type="text" id="f_firstname" name="firstname" placeholder="Nombre(s)" value="<%=user.firstname%>">
                    </div>
                    <div class="reg-form-field">
                        <label class="title-register" for="f_email">e-mail</label>
                        <input class="subcontrol-register-form" type="email" id="f_email" name="email" placeholder="direccion@email.com" value="<%=user.email%>" required>
                    </div>
                    <div class="reg-form-field">
                        <label class="title-register" for="f_password">Nueva Contraseña</label>
                        <input class="subcontrol-register-form" id="f_password" type="password" name="password">
                        <br>
                        <label class="title-register" for="f_password2">Confirmar Nueva Contraseña</label>
                        <input class="subcontrol-register-form" type="password" id="f_password2" name="password_confirmation">
                    </div>
                    <div class="reg-form-field">
                        <label class="title-register">Actualizar Imagen de Perfil</label>
                        <input class="subcontrol-register-form" type="file" name="userImage" placeholder="Imagen/avatar">
                    </div>
                    <br>
                    <div class="button-send-reset-register">
                        <input class="myButton" type="reset" value="Borrar">&nbsp;&nbsp;&nbsp;
                        <input class="myButton" type="submit" value="Actualizar" action="/profile">
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer class="footer-main">
        <%- include('footer') %>
    </footer>
</body>
</html>

