<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-root.css">
    <link rel="stylesheet" href="/css/styles-header-footer.css">
    <link rel="stylesheet" href="/css/styles-login-register.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Iniciar sesión</title>
</head>

<body>
    <header>
        <%- include('header') %>
    </header>

    <main class="register-main">
        <div class="reg-frame">
            <div class="reg-frame-frame">

                <form action="/users/login" class="reg-form" method="post">
                    <% if (locals.errorExpress) { errorExpress.forEach(error=> { %>
                        <p style="color: var(--errorNivel2);">
                            <%= error.msg %>
                        </p>
                        <% }); } %>
                            <div class="reg-form-field">
                                <label class="title-register" for="email">e-mail:</label>
                                <input type="text" id="email" name="email" placeholder="jhon_doe@email.com">
                                <% if (locals.errors && errors.email) { %>
                                    <p style="color: rgb(252, 0, 0);">
                                        <%=errors.email.msg%>
                                    </p>
                                    <% } %>
                            </div>
                            <div class="reg-form-field">
                                <label class="title-register" for="password">Contraseña:</label>
                                <input type="password" id="password" name="password" placeholder="password">
                                <% if (locals.errors && errors.password) { %>
                                    <p style="color: rgb(252, 0, 0);">
                                        <%=errors.password.msg%>
                                    </p>
                                    <% } %>
                            </div><br>
                            <div><label for="">Recodarme </label>
                                <input type="checkbox" name="remember">
                            </div>
                            <br>
                            <div class="button-send-reset-register">
                                <input class="myButton" type="submit" value="Ingresar" >
                            </div>
                            <br>
                            <div class="icono-luz-simple">
                                <h5><a href="#">Olvidé mi usuario</a></h5>
                            </div>
                            <br>
                            <div class="icono-luz-simple">
                                <h5><a href="#">Olvidé mi contraseña</a></h5>
                            </div>
                            <br>
                            <div class="icono-luz-simple">
                                <h4><a href="/users/register">Soy nuevo, quiero registrarme</a></h4>
                            </div>
                            
                            <br>
                            
                </form>
            </div>
        </div>

    </main>
    <footer class="footer-sticky">
        <%- include('footer') %>
    </footer>
</body>

</html>