<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-root.css">
    <link rel="stylesheet" href="/css/styles-header-footer.css">
    <link rel="stylesheet" href="/css/styles-login-register.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Registro</title>
</head>


<body>
    <header>
        <%- include('header') %>
    </header>

    <main class="register-main">
        <div class="reg-frame">
            <div class="reg-frame-frame">

                
                <form action="/users/register" class="reg-form" method="post" enctype="multipart/form-data">
                    <% if (locals.errorExpress) { 
                        errorExpress.forEach(error => { %>
                            <p style="color: var(--errorNivel2);"> <%= error.msg %> </p>                            
                            <% }); 
                    } %> 


                    <div class="reg-form-field">
                        <label class="title-register" for="f_lastname">Apellido(s)</label>
                        <input class="subcontrol-register-form" type="text" id="f_lastname" name="lastname" placeholder="Apellido(s)">
                    </div>
                    <div class="reg-form-field">
                        <label class="title-register" for="f_firstname">Nombre(s)</label>
                        <input class="subcontrol-register-form" type="text" id="f_firstname" name="firstname" placeholder="Nombre(s)">
                    </div>
                    <div class="reg-form-field">
                        <label class="title-register" for="f_email">e-mail</label>
                        <input class="subcontrol-register-form" type="email" id="f_email" name="email" placeholder="direccion@email.com"
                            required>
                            
                    </div>
                    <% if (locals.errors && errors.email) { %> 
                        <p style="color: rgb(252, 0, 0);"> <%=errors.email%> </p>
                    <% } %>
                    <div class="reg-form-field">
                        <label class="title-register" for="f_password">Contraseña</label>
                        <input class="subcontrol-register-form" id="f_password" type="password" name="password">
                        <br>
                        <label class="title-register" for="f_password2">Confirmar contraseña</label>
                        <input class="subcontrol-register-form" type="password" id="f_password2" name="password_confirmation">
                    </div>
                    <% if (locals.errors && errors.password) { %> 
                    <p style="color: rgb(252, 0, 0);"><%= errors.password %></p>
                    <% } %>
                    
                        <div class="reg-form-field">
                        <label class="title-register">Archivo de imagen</label>
                        <!-- El input de FILE tiene que tener NAME coincidente con el que se puso en
                        el ROUTER (upload.single('productImage')), si no no anda -->
                        <input class="subcontrol-register-form" type="file" name="userImage"
                            placeholder="Imagen/avatar" required>
                    </div>
                    <br>
                    <div class="button-send-reset-register">
                        <input class="myButton" type="reset" value="Borrar">&nbsp;&nbsp;&nbsp;
                        <input class="myButton" type="submit" value="Enviar" action="/home.html">
                    </div>
                </form>
            </div>
        </div>

    </main>

    <footer class="footer-main">
        <%- include('footer') %>
    </footer>
</body>

</html>