<<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles-root.css" rel="stylesheet">
        <link href="css/styles-header-footer.css" rel="stylesheet">
        <link href="css/styles-albums.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Albums</title>
    </head>

    <body>
        <header>
            <%- include('header') %>
        </header>
        <main>
            <section class="albums-main-container">
                <% albums.filter(album => album.type=='Album').forEach(album => { %>
                    <article class="album">
                        <div class="album-cover">
                            <img class="album-imagen" src="<%=album.image%>" alt="">
                        </div>
                        <div class="album-footer">
                            <div class="album-titulo">
                                <h4>
                                    <%=album.title%>
                                </h4>
                                <h4>
                                    <%=album.artist%>
                                </h4>
                                <h5>
                                    <%=album.year%>
                                </h5>
                            </div>
                            <div class="album-icono-mas">
                                <h1><a href="albums/<%=album.id%>/edit"><i class="fa-solid fa-circle-plus"></i></a></h1>
                            </div>
                        </div>
                    </article>
                    <%}) %>
            </section>
        </main>
        <footer class="footer-main">
            <%- include('footer') %>
        </footer>
    </body>


    </html>